* {
box-sizing: border-box;
margin: 0;
}

.calculator {
background-color: rgb(211, 207, 207);
width: 300px;
padding: 2px 4px;
height: 450px;
margin: 0 auto;
border: solid 2px #000000;
border-radius: 2px;
margin-top: 40px;
}

#result{
    width: 100%;
    padding: 0px 10px;
    position: relative;
    height: 70px;
    top: 5px;
    text-align: right;
    outline: none;
    font-size: 20px;
    border: 2px solid black;
    display: flex;
    margin: auto;
    border-radius: 2px;
    color: black;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

button{
    /* padding: 10px; */
    width: 68px;
    height: 68px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;

}

button:hover{
    background-color: #ddd;
}

.clear{
    width: 214px;
    background-color: #ff5436;
    color: #000000;
}

.number, .decimal{
    background-color: #fff;
    color: #141414;

}
.decimal{
    background-color: rgb(4, 134, 19);
}
.operator{
    background-color: #ffb413;
    color: #000000;
}

.equals{
    width: 142px;
    background-color: #ffb413;
    color: #000000;
}